# Ignore Python cache files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
fastApienv/
venv/
.env

# Ignore IDE-specific files
.idea/
.vscode/

# Ignore database files (if applicable)
*.db
*.sqlite3
